<!DOCTYPE html>
<html ng-app="searchApp">
  <head>
    <meta charset="utf-8">
    <title>Leave a Comment</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="app-wrap">
      <div class="comment-module-wrap">
        <div class="comment-module" ng-controller="SearchController as search">
          <div class="title">
            <h1>Leave a Comment</h1>
          </div>
          <form ng-submit="search.submit($event)">
            <div class="comment-input-wrap">
              <ul class="user-list" ng-hide="!(search.results.length > 0)">
                <li ng-repeat="result in search.results" class="user-list-item {{$index === search.resultSelection ? 'focused' : ''}}">
                  <a href="#" ng-click="search.insertUser(result)">
                    <img src="{{result.avatar_url}}" alt="">
                    <span>{{result.name}} ({{result.username}})</span>
                  </a>
                </li>
              </ul>
              <input type="text" name="" value="" class="username-input {{search.errors.username ? 'error' : ''}}" ng-model="search.username">
              <span class="error-report">{{search.errors.username}}</span>
              <textarea class="comment-input {{!search.minCharsReached ? 'incomplete' : ''}}" type="text" key-action ng-model="search.textareaText" ng-change="search.onChange()" placeholder="Enter a name here"></textarea>
              <span class="error-report">{{search.errors.comment}}</span>
            </div>
            <button class="submit-btn" type="submit" name="button">Submit</button>
            <div class="character-counter {{!search.minCharsReached ? 'incomplete' : ''}}">{{search.characterCount}}</div>
          </form>
        </div>
        <div class="all-comments-module" ng-controller="CommentsController as comments">
          <ul class="all-comments">
            <li class="comment" ng-repeat="comment in comments.results | reverse">
              <span>
                {{comment.username}}
              </span>
              <p ng-bind-html="comment.text | rawHTML"></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
